<h1 class="text-center">User</h1>
{{#if user._id}}

<div class="d-flex justify-content-center " >
    <div class="card p-3" style="width: 30rem; ">
        <img src={{user.photo}} class="card-img-top" alt="...">
        <div class="card-body bg-secondary m-2">
            <h5 class="card-title">Name:{{user.name}}</h5>
            <span class="text-white">Email: {{user.email}}</span>
            <br>
            <p class="text-danger p-1"> Role: {{user.role}}</p>
            <span class="float-end text-white"> Password: {{user.password}}</span>
        </div>
        <a href="/users" class="btn btn-danger m-1">Volver</a>
        
</div>

{{else}}
<h1>USER NOT FOUND</h1>
{{/if}}