<h1 class="text-center">User</h1>
<div class="d-flex justify-content-center " >
    <div class="card p-3" style="width: 30rem; ">
        <img src={{photo}} class="card-img-top" alt="...">
        <div class="card-body bg-secondary m-2">
            <h5 class="card-title">Name:{{name}}</h5>
            <span class="text-white">Email: {{email}}</span>
            <br>
            <p class="text-danger p-1"> Role: {{role}}</p>
            <span class="float-end text-white"> Password: {{password}}</span>
        </div>
        <a href="/users/register" class="btn btn-danger m-1">Volver</a>
        
</div>